*{
	margin:0px;
	padding: 0px;
	font-family: "微软雅黑";
	color: #333;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	background-color: rgb(245,245,245);
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
ul,ol{
	list-style: none;
}
.contents{
	width:100%;
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
}
.header{
	background-image: url(../images/bg_homepage_header@2x.png);
	width:100%;
	background-size: 100% 100%;
}
.header>a>img{
	padding:5% 5%;
}
.header_content{
	display:flex;
	justify-content:space-around;
	margin-top:5%;
	padding-bottom:2%;
}
.header_content .headPortrait_img{
	width:25%;
	margin-left:3%;
	margin-top:3%;
}
.header_content .headPortrait_img>img{
	width:100%;
}
.header_content .nickname{
	width:35%;
	margin-top:8%;
}
.header_content .nickname p,.header_content .nickname a{
	color:white;
}
.header_content .personalHomepage{
	width:24%;
	height:20%;
	padding:1% 1.5%;
	border-radius:18px;
	margin-top:12%;
	border:2px solid white;
	text-align: center;
}
.header_content .personalHomepage a{
	color:white;
}
.informations{
	width:100%;
	padding:2% 5%;
}
.informations p{
	color:white;
}
.cumulative{
	background-color: white;
	display: flex;
	border-bottom:1px solid rgb(228,228,228);
	margin-top:3%;
}
.cumulative p{
	color: rgba(179,179,179,1);
}
.cumulative .cumulativeTraining{
	padding-top:6%;
	width:50%;
	text-align: center;
	border-right:1px solid rgb(228,228,228);
}
.cumulative .clock_in_fat_burn{
	justify-content: space-around;
	width:50%;
	text-align: center;
	margin-top:-4%;
}
.cumulative .cumulativeClock{
	border-bottom:1px solid rgb(228,228,228);
}
.unlock{
	width:100%;
	padding:7% 6%;
	background-color:white;
}
.unlock .small_arrow{
	margin-left:35%;
}
.dynamic{
	width:100%;
	background-color:white;
	margin-top:3%;
	padding:4% 6%;
	border-bottom:1px solid rgb(228,228,228);
	display:flex;
	justify-content:space-between;
}
// .dynamic .square img{
// 	margin-left:60%;
// }
.dynamic .only_look_at_pictures{
	color:rgb(216,48,27);
}
.issue{
	width:100%;
	background-color:white;
	padding:50% 30%;
}
.issue p{
	margin-top:10%;
	color: rgba(179,179,179,1);
	font-size: 12px;
	width:100%;
	text-align:center;
}